<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Conoce tu porvenir</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Preguntale a nuestros adivinos profesionales sobre tus dudas y anhelos y realiza una tirada
            personalizada para conocer tu porvenir atendiendo a lo que mas te preocupe. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Realizar tirada gratuita</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>

    <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
            <p><b><em>{{ cards[0].name }}</em></b></p>
            <img src="{{ cards[0].image }}" class="img border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
                height="700" loading="lazy">
        </div>
    </div>

</div>